import requests
from openai import OpenAI
from IPython.display import Markdown, display

openai = OpenAI(base_url = "https://localhost:11434/v1", api_key = "")


joke = [
    {"role" : "user", "content" : "Tell me a joke"},
]response = openai.chat.completions.create(model = 'llama3.1', messages= joke)
display(response.choices[0].messages.content)



